{% extends "bar_base.html" %}
{% load static %}
{% block application_pane %}
    <div class="character-header">
        <img src={% static "Character_Header.png" %}
             alt="Character Header"
             style="width: 45%"/>
    </div>
    <div class="character-row">
        <div class="character-name">
            <label>
                <h4>Character Name</h4>
                <input class="big"
                       name="form-character-name"
                       id="form-character-name"
                       maxlength="100"/>
            </label>
        </div>
        <div class="character-info">
            <label>
                Class
                <input class="small"
                       name="form-character-class"
                       id="form-character-class"
                       maxlength="50"/>
            </label>
            <label>
                Background
                <input class="small"
                       name="form-character-background"
                       id="form-character-background"
                       maxlength="50"/>
            </label>
            <label>
                Player Name
                <input class="small"
                       name="form-character-player"
                       id="form-character-player"
                       maxlength="50"/>
            </label>
            <label>
                Race
                <input class="small"
                       name="form-character-race"
                       id="form-character-race"
                       maxlength="50"/>
            </label>
            <label>
                Alignment
                <input class="small"
                       name="form-character-alignment"
                       id="form-character-alignment"
                       maxlength="50"/>
            </label>
            <label>
                Experience Points
                <input class="small"
                       name="form-character-experience"
                       id="form-character-experience"
                       maxlength="50"/>
            </label>
        </div>
        <div class="character-control">
            <button class="green" type="button">
                <h4>GENERATE</h4>
            </button>
            <button class="blue" type="button">
                <h4>SAVE</h4>
            </button>
            <button class="purple" type="button">
                <h4>EXPORT</h4>
            </button>
        </div>
    </div>
    <div class="character-statblock">
        <div class="character-stat">
            <img src={% static "Character_UI_Stat.png" %}
                 alt="Character UI Stat"
                 style="width: 100%"/>
            <div class="character-stat-title">STRENGTH</div>
            <div class="character-stat-base">
                <h3>10</h3>
            </div>
            <div class="character-stat-bonus">
                <h4>+0</h4>
            </div>
        </div>
        <div class="character-stat">
            <img src={% static "Character_UI_Stat.png" %}
                 alt="Character UI Stat"
                 style="width: 100%"/>
            <div class="character-stat-title">DEXTERITY</div>
            <div class="character-stat-base">
                <h3>10</h3>
            </div>
            <div class="character-stat-bonus">
                <h4>+0</h4>
            </div>
        </div>
    </div>
    <div class="character-baseplate">
        <div class="character-plate">
            <div style="text-align: center;">
                <h4>PROFICIENCY</h4>
            </div>
            <div class="character-panel">
                <div style="width: 25%; float: center;">
                    <h5 style="font-weight: 800;">0</h5>
                </div>
                <div style="width: 50%; float: center;">
                    <h5>Proficiency Bonus</h5>
                </div>
            </div>
            <div style="text-align: center;">
                <h4>SAVING THROWS</h4>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-throw-strength"
                           name="character-throw-strength"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">+0</h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>Strength</h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-throw-dexterity"
                           name="character-throw-dexterity"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">+0</h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>Dexterity</h5>
                </div>
            </div>
        </div>
        <div class="character-plate">
            <div style="text-align: center;">
                <h4>
                    STATISTICS
                </h4>
            </div>
            <div class="character-panel">
                <div style="width: 25%; float: center;">
                    <h5 style="font-weight: 800;">
                        0
                    </h5>
                </div>
                <div style="width: 50%; float: center;">
                    <h5>
                        Speed
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 25%; float: center;">
                    <h5 style="font-weight: 800;">
                        0
                    </h5>
                </div>
                <div style="width: 50%; float: center;">
                    <h5>
                        Initiative
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 25%; float: center;">
                    <h5 style="font-weight: 800;">
                        0
                    </h5>
                </div>
                <div style="width: 50%; float: center;">
                    <h5>
                        Hit Points
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 25%; float: center;">
                    <h5 style="font-weight: 800;">
                        0
                    </h5>
                </div>
                <div style="width: 50%; float: center;">
                    <h5>
                        Hit Dice
                    </h5>
                </div>
            </div>
        </div>
        <div class="character-plate">
            <div style="text-align: center;">
                <h4>
                    SKILLS 1
                </h4>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-acrobatics"
                           name="character-skill-acrobatics"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Acrobatics
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-animal-handling"
                           name="character-skill-animal-handling"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Animal Handling
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-arcana"
                           name="character-skill-arcana"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Arcana
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-athletics"
                           name="character-skill-athletics"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Athletics
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-deception"
                           name="character-skill-deception"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Deception
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-history"
                           name="character-skill-history"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        History
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-insight"
                           name="character-skill-insight"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Insight
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           name="character-skill-intimidation"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Intimidation
                    </h5>
                </div>
            </div>
            <div class="character-panel">
                <div style="width: 30%; float: left; text-align: center;">
                    <input class="form-check-input mt-0"
                           type="radio"
                           id="character-skill-investigation"
                           name="character-skill-investigation"/>
                </div>
                <div style="width: 20%; float: left;">
                    <h5 style="font-weight: 700;">
                        +0
                    </h5>
                </div>
                <div style="width: 50%; float: left;">
                    <h5>
                        Investigation
                    </h5>
                </div>
            </div>
        </div>
        <div class="character-plate">
            <div style="text-align: center;">
                <h4>
                    SKILLS 2
                </h4>
            </div>
        </div>
    </div>
{% endblock application_pane %}
