{% extends "bar_base.html" %}
{% load static %}
{% block application_pane %}
    <div class="character-header">
        <img src={% static "Character_Header.png" %}
             alt="Character Header"
             style="width: 45%"/>
    </div>
    <div class="character-row">
        <div class="character-name">
            <label>
                <h4>Character Name</h4>
                <input class="big"
                       name="form-character-name"
                       id="form-character-name"
                       maxlength="100"/>
            </label>
        </div>
        <div class="character-info">
            <label>
                Class
                <input class="small"
                       name="form-character-class"
                       id="form-character-class"
                       maxlength="50"/>
            </label>
            <label>
                Background
                <input class="small"
                       name="form-character-background"
                       id="form-character-background"
                       maxlength="50"/>
            </label>
            <label>
                Player Name
                <input class="small"
                       name="form-character-player"
                       id="form-character-player"
                       maxlength="50"/>
            </label>
            <label>
                Race
                <input class="small"
                       name="form-character-race"
                       id="form-character-race"
                       maxlength="50"/>
            </label>
            <label>
                Alignment
                <input class="small"
                       name="form-character-alignment"
                       id="form-character-alignment"
                       maxlength="50"/>
            </label>
            <label>
                Experience Points
                <input class="small"
                       name="form-character-experience"
                       id="form-character-experience"
                       maxlength="50"/>
            </label>
        </div>
        <div class="character-control">
            <button class="green" type="button">
                <h4>GENERATE</h4>
            </button>
            <button class="blue" type="button">
                <h4>SAVE</h4>
            </button>
            <button class="purple" type="button">
                <h4>EXPORT</h4>
            </button>
        </div>
    </div>
    <div class="character-statblock">
        <div class="character-stat">
            <img src={% static "Character_UI_Stat.png" %}
                 alt="Character UI Stat"
                 style="width: 100%"/>
            <div class="character-stat-title">STRENGTH</div>
            <div class="character-stat-base">
                <h3>10</h3>
            </div>
            <div class="character-stat-bonus">
                <h4>+0</h4>
            </div>
        </div>
        <div class="character-stat">
            <img src={% static "Character_UI_Stat.png" %}
                 alt="Character UI Stat"
                 style="width: 100%"/>
            <div class="character-stat-title">DEXTERITY</div>
            <div class="character-stat-base">
                <h3>10</h3>
            </div>
            <div class="character-stat-bonus">
                <h4>+0</h4>
            </div>
        </div>
    </div>
{% endblock application_pane %}
